*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.shadow_def{
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25098);
}
section{
    width: 100%;
    min-height: 100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(213,237,255);
    background: linear-gradient(90deg, rgba(213,237,255,1) 0%, rgba(197,227,250,1) 100%);
}

/* navbar*/
nav{
    display: block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D4E8F6;
    height: 65px;
}
.user_account_nav{
    display: flex;
    justify-content: center;
    text-align: right;
    align-items: center;
}
.user_account_nav>img{
    height: 50px;
    width: 50px;
    margin-left: 10px;
}
.burger>img{
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

/* footer */
footer{
    display: block;
    display: flex;
    justify-content: center;
    background-color: #D4E8F6;

}

/* ------------------------------------------ */
/* ---------------- PAGES ------------------- */
/* ------------------------------------------ */

.login_form, .signup_form{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-flow: column;
    font-size: 34px;
}

.login_form>input, .signup_form>input{
    padding: 8px 100px 8px 15px;
    text-align: left;
    margin: 5px 0;
    background-color: #fff;
    border: 1px solid #000;
    font-size: 24px;
    border-radius: 6px;
}

.login_form>button,.signup_form>button{
    padding: 8px 25px;
    text-align: left;
    margin: 5px 0;
    background-color: #fff;
    border: 1px solid #000;
    font-size: 24px;
    border-radius: 6px;

}